.headerTop-container{
    background-color: white;
    margin-top: 4%;
}

.button-color{
    border: none;
    width: 100%;
    padding: 10px 0px;
    margin-top: 62px;
    border-radius: 31px;
    font-style: italic;
}

.icon-style{
    width: 40px; 
    height: 40px; 
    margin-right: 5px
}