.App{
    background-color: #F0F2F1;
}

.theme-color{
    background-color: #088cfe !important;
    border: none !important;
}

.title-style{
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: 700;
}